body {
    font-family: "Playwrite DE Grund", cursive;  
    font-weight: bold;                                          
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #ECF2F9;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C8D9EB;
    width: 70vw;
    max-width: 800px;
    height: fit-content;
    padding: 1rem;
    border: 2px solid #ddd;
    border-radius: 25px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

h1 {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    /* font-weight: lighter; */
}

h2 {
    font-family: "Lexend Deca", sans-serif;
    margin: 0 1rem 1rem 1rem;
    text-align: center;
    font-size: 6rem;
    font-weight: 200;
}

.button-wrapper {
    /* background-color: tomato; */
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

button {
    font-family: "Playwrite DE Grund", cursive;  
    width: 8rem;
    padding: .3rem;
    border-radius: 15px;
    border: 2px solid #ddd;
    background-color: #FFF1CB;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ece0bc;
    scale: 1.1;
}